.choose{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    position: relative;

    .text-title{
        min-width: 60px;
        max-width: 60px;

        .text-container {
            z-index: 5;
            position: relative;
            display: inline-block;
            margin-left: 50%;
            transform: translateX(-50%);

            .text{
                padding-top: 100%;
                transform: rotate(-90deg) translate(-100%, -50%);
                transform-origin: left top;
                white-space: nowrap;
                color: rgb(28, 29, 42);
                font-size: 0.625rem;
                letter-spacing: 0.25em;
                font-weight: bold;
            }

            .text::after{
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 1.4em;
                height: 1px;
                margin-left: 0.5em;
                background-color: currentcolor;
            }
        }
    }

    .content{
        flex: 1 1 100%;
        min-width: 0px;
        position: relative;

        .content-size{
            position: relative;
            z-index: 1;
            max-width: 1680px;
            height: auto;
            margin: 0px auto;

            .content-title{
                position: relative;
                z-index: 1;
                text-align: center;
                color: rgb(1, 1, 1);

                .header-title{
                    margin: 0px;
                    font-weight: normal;

                    h1{
                        font-size: 1.5rem;
                        font-style: italic;
                        font-weight: 600px;
                        letter-spacing: 0.1rem;
                    }

                    strong{
                        font-size: 120px;
                        font-style: italic;
                        display: block;
                        padding: 0px 15px 10px;
                        margin-bottom: -10px;
                    }
                }

                .header-subtitle{
                    max-width: 600px;
                    text-align: center;
                    padding: 0px 10%;
                    margin: 12px auto 0px;
                    font-size: 0.875rem;
                    letter-spacing: 0.08em;
                    line-height: 1.6;
                    opacity: 1;
                }
            }

            .button-content-header{
                position: relative;
                z-index: 2;
                margin-top: 0.9375rem;
                text-align: center;
                display: flex;
                flex-direction:row ;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                

                .discover-div , .play-div{
                    position: relative;
                    min-width: 180px;
                    height: 11.5px;
                    text-align: center;
                    margin: 8px;
                    padding: 10px 20px;
                    font-size: 0.675rem;
                    opacity: 1;
                    background-color: aqua;
                    color: white;
                    font-weight: bold;         
                }

                .discover-div{
                    background-color: rgb(208,168,92);
                }
                .play-div{
                    background-color: rgb(11,198,227);
                }
            }
        }
    }
}


